@import '../_theme.scss';

#avatar {
    margin-right:3em;
}

#avatar-card {
    display:flex;
    align-items:center;
    margin-bottom:2em;
}

#gender {
    width:0.8em;
    height:0.8em;
    opacity:0.5;
}

#public-posts {
    margin-top:3em;
}

#profile-desc {
    display:block;
    border-bottom:1px solid $mainBorderColor;
    padding-bottom:1.5em;
}

#username h1 {
    display:inline-block;
    vertical-align:middle;
}

#username .optional-info {
    display:block;
    margin-top:1em;
}

#username .optional-info svg {
   font-size:1.5em;
   vertical-align:middle;
   margin-right:1em;
}