#profile-desc {
    margin:0.5em 0em;
}

#avatar {
    margin-right:3em;
}

#avatar-card {
    display:flex;
    align-items:center;
    margin-bottom:2em;
}

#avatar-image {
    width:calc(2em + 5vw);
    height:calc(2em + 5vw);
    border-radius:100%;
    border:1px solid #eee;
}