@import '../_theme.scss';

#avatar {
    margin-right:3em;
}

#avatar-card {
    display:flex;
    align-items:center;
    margin-bottom:2em;
}

#avatar-image {
    width:calc(2em + 5vw);
    height:calc(2em + 5vw);
    border-radius:100%;
    border:1px solid $mainBorderColor;
}

#gender {
    width:0.8em;
    height:0.8em;
    opacity:0.5;
}

#public-posts {
    margin-top:3em;
}

#profile-desc {
    display:block;
    margin:0.5em 0em;
    border-bottom:1px solid $mainBorderColor;
    padding-bottom:1.5em;
}