
@import '../_theme.scss';

#ratings-container {
    margin:0 auto;
    width:inherit;
}

.rating-wrapper {
    padding:1.5em;
    width:calc(50% - 1.5em);
    margin-right:1.5em;
    margin-bottom:1.5em;
    border:1px solid $mainBorderColor;
    border-radius:0.3em;
    display:inline-block;
    vertical-align:top;
}

.rating-comment {
    padding:1.5em;
    margin-top:0.5em;
    background:$mainBackground;
}

.rating-name {
    margin-bottom:1.5em;
}

.rating-rater {
    float:right;
}

.rating-wrapper button {
    font-size:1.1em;
    float:right;
    margin-top:1em;
}