@import '../_theme.scss';

#avatar {
    margin-right:3em;
}

#avatar-card {
    display:flex;
    align-items:center;
    margin-bottom:2em;
}

#avatar-image {
    width:calc(2em + 5vw);
    height:calc(2em + 5vw);
    border-radius:100%;
    border:1px solid $mainBorderColor;
}

#gender {
    width:0.8em;
    height:0.8em;
    opacity:0.5;
}

#tabs-container > div[role=tabpanel] {
    margin-top:1em;
}

#deals-container > div[role=tabpanel] {
    margin-left:1em;
    width:calc(90% - 2em);
    margin-left:calc(15% + 2em);
}

#tabs-container .MuiTab-root {
    text-transform:capitalize;
    font-family:$mainFont;
    font-size:1em;
    padding:1em 3em;
}

#tabs-container .Mui-selected {
    color:#000;
}

#tabs-container .MuiTabs-indicator {
    background-color:#000;
}

#deals-container .Mui-selected {
    color:$mainLinkColor;
}

#deals-container .MuiTabs-indicator {
    background-color:$mainLinkColor;
}

#deals-container .order-tracking {
    border-top:1px solid $mainBorderColor;
    background:rgb(235, 235, 235);
    transition:0.5s;
}

#deals-container .order-tracking:hover {
    background:$mainBackground;
}

.staff-card #avatar-image {
    border:2px solid #2120ba;
}