@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

$mainBorderColor: #d5d5d5;
$mainTextColor: #222;
$mainLinkColor: #888;
$mainLinkHoverColor:#666;
$mainButtonColor: #000;
$mainButtonTextColor: #fff;
$mainFont:'Rubik',Helvetica, sans-serif;
$mainBackground: #f5f5f5;
$mainBoxColor: #fff;