@import "./_theme.scss";

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  font-family:$mainFont;
  line-height:140%;
  font-weight:300;
  font-size:calc(13px + 0.1rem);
  color:$mainTextColor;
}

.left {text-align:left;}
.center {text-align:center;}

a {
  color:$mainLinkColor;
  text-decoration:none;
}

a:hover {
  color:$mainLinkHoverColor;
}

p {
  margin:0.5em 0em;
}

p:first-of-type {
  margin-top:0;
}

p:last-of-type {
  margin-bottom:0;
}

h1,h2,h3 {
  font-weight:500;
  line-height:150%;
}

h1 {
  font-size:1.8em;
}

h2 {
  font-size:1.1em;
}

h3 {
  font-size:1.05em;
}

#content {
  padding:3em 2em;
  width:85%;
  margin:0px auto;
  min-height:120vh;
}

.title {
  margin-bottom:1.5em;
}

.staff-badge,.admin-badge {
  display:inline-block;
  padding:0.3em 0.7em;
  border-radius:0.3em;
  font-weight:400;
  color:white;
}

.staff-badge {
  background:#2120ba;
  color:white;
}

.admin-badge {
  background:black;
}

.staff-card .staff-badge , .admin-card .admin-badge {
  font-size:0.8em;
  margin-left:2em;
}

@media only screen and (max-width: 1100px) {
 
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #content {
    width:100%;
    padding:2em 1em;
    padding-top:8em;
  }

  #post-grid {
    width:calc(100vw - 2em);
  }
}
