@import "./_theme.scss";

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  font-family:$mainFont;
  line-height:140%;
  font-weight:300;
  font-size:calc(12px + 0.1rem);
  color:$mainTextColor;
}

.center {text-align:center;}

a {
  color:$mainLinkColor;
  text-decoration:none;
}

a:hover {
  color:$mainLinkHoverColor;
}

p {
  margin:0.5em 0em;
}

p:first-of-type {
  margin-top:0;
}

p:last-of-type {
  margin-bottom:0;
}

h1,h2,h3 {
  font-weight:500;
  line-height:150%;
}

h1 {
  font-size:1.8em;
}

h2 {
  font-size:1.1em;
}

h3 {
  font-size:1.05em;
}

#content {
  padding:3em 2em;
  width:85%;
  margin:0px auto;
  min-height:120vh;
}

.title {
  margin-bottom:1.5em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #content {
    width:100%;
    padding:2em 1em;
    padding-top:8em;
  }
}
