@import "../_theme.scss";

header {
    width:100%;
    padding:1em 1.5em;
    background:$mainBoxColor;
    border-bottom:1px solid $mainBorderColor;
    z-index:1;
}

header > .logo-card, nav {
    display:inline-block;
}

nav {
    margin:1em;
    position:absolute;
    top:0;
    right:0;
}

nav a {
    margin-left:1em;
}

#account-menu {
    display:inline-block;
    margin:0em 1em;
}

#menu-avatar-image {
    width:1.4em;
    height:1.4em;
    border-radius:100%;
    border:1px solid #eee;
}

header form {
    position:absolute;
    top:calc(1.5em - 0.5em);
    left:calc(50% - 20vw);
}

#search-bar {
    width:40vw;
    border:1px solid $mainBorderColor;
    padding:0.3em 1em;
    border-radius:0.3em;
}

#search-bar svg {
    opacity:0.7;
}

#search-bar input {
    margin-left:1em;
}

#search-bar .MuiInputBase-root {
    width:100%!important;
}

#guest-nav {
    padding:1em;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    header {
        position:fixed;
    }

   header form {
      right:1.5em;
      left:auto;
    }

    nav {
        top:auto;
        bottom:-1.5em;
        right:-1em;
        width:100%;
        padding:1em 1.5em;
        background:$mainBoxColor;
        border-top:1px solid $mainBorderColor;
        position:fixed;
    }
}


