@import "../_theme.scss";

#create-post-wrapper {
    position:absolute;
}

#create-post-container {
    width:50%;
    position:absolute;
    left:calc(50% / 2);
    background:$mainBackground;
    margin:3em 0em;
    border-radius:0.5em;
}

#create-post-container button {
    margin:1.5em;
}

#create-post-container button[name=post] {
    float:right;
}

#create-post-container input[placeholder=Title] {
    font-size:2em;
}

#create-post-container .MuiFilledInput-input,#create-post-container textarea {
    padding:0.7em 1em;
}

#create-post-container .MuiCheckbox-root button {
    padding:0;
    margin:0;
}

#post-privacy {
    float:right;
    margin:1.25em 0em;
}

#create-post-container button[name=close] {
    background:#d5d5d5;
    color:black;
}

span[name=createpost] {
    display:inline;
    cursor:pointer;
}

