@import '../_theme.scss';

#post-grid {
    width:100%;
    text-align:center;
    column-count:3;
    column-gap:1.5em;
}

.post-container {
    border:1px solid $mainBorderColor;
    border-radius:0.3em;
    text-align:left;
    position:relative;
    margin:0.75em 1em 0.75em 1em;
    width:100%;
    display:inline-block;
}

#post-grid .center {
    display:inline-block;
}

.post-container img {
    border-bottom:1px solid $mainBorderColor;
}

.post-container a .post-content,.post-container a .post-title {
    color:$mainTextColor;
}

.post-avatar {
    width:1.5em;
    height:1.5em;
    border-radius:100%;
    vertical-align:middle;
    border:1px solid $mainBorderColor;
}

.post-avatar, .post-author {
    display:inline-block;
}

.post-author {
    margin:0em 1em; 
}

.post-bottom-bar {
    border-top:1px solid $mainBorderColor;
    margin-top:2em;
    padding:1.5em;
}

.post-price {
    font-size:1.2em;
}

.post-title, .post-content,.post-user-bar {
    padding:1.5em;
    padding-bottom:0;
}

.post-user-bar {
    padding-top:2em;
}

.post-container .post-content, .post-container .post-author-card, .post-price {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.post-images img {
    max-width:100%;
    display:block;
}

.post-price {
    display:inline-block;
}

#edit-button,
#delete-button {
    float:right;
    font-size:0.8em;
}

.post-container {
    position:relative;
}

.image-wrapper .sold {
    width:100%;
    height:100%;
    left:0;
    top:0;
    padding:1.5em;
    position:absolute;
    background:rgba(255,255,255,0.7);
}

.image-wrapper .sold h3 {
    left:calc(50% - (4em - 0.3em)/2);
    top:calc(50% - (3em - 1em));
    padding:0.3em 1em;
    border-radius:0.3em;
    position:absolute;
    color:$mainBoxColor;
    background:$mainTextColor;
}

.privacy {
    position:absolute;
    background:$mainBackground;
    padding:0em 1em 0em 0em;
    margin:1em;
    border-radius:0.3em;
    font-size:0.95em;
    cursor:normal;
    right:0;
}

.privacy button {
    font-size:0.95em;
    display:inline-block;
}
